.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}
@media (max-width: 1024px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .cards{
        grid-template-columns: 1fr ;
    }
}



.card{
    box-shadow: 0 0 20px var(--shadow);
    padding: 10px;
    border-radius: 10px;
    img{
        margin-bottom: 10px;
    }

}

.showMoreBtn{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--contrast-color-light);
    font-size: 20px;
    display: inline-block;
    margin: 20px 0 60px 0;
}


